language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"
    - "3.7"
install:
    - pip install -r requirements-dev.txt
    - pip install coveralls
    - pip install tox-travis
script:
    tox
after_success:
    coveralls
